
<!DOCTYPE html>
<html>
<head>
	<title>babar sports</title>
	<link rel="stylesheet" type="text/css" href="css/home.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
	<section id="header">
		<a href="#"><img src="logo.png" class="logo"></a>
		<div>
			<ul id="navbar">
				<li><a href="#">Home</a></li>
				<li><a href="#">Shop</a></li>
				<li><a href="#">Blog</a></li>
				<li><a href="#">About</a></li>
				<li><a href="#">Contact</a></li>
				<li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
			</ul>
		</div>
	</section>
<section id="hero">
	<h4>Trade-in-order</h4>
	<h2>Super value deal</h2>
	<h1>On all product</h1>
	<p>Save more coupons & upto 70% off</p>
	<button>shop now</button>
</section>
<section id="feature" class="section-p1">
	<div class="fe-box">
		<img src="f1.png">
		<h6>Free Shoping</h6>
	</div>
	<div class="fe-box">
		<img src="f2.png">
		<h6>online order</h6>
	</div>
	<div class="fe-box">
		<img src="f3.png">
		<h6>save money</h6>
	</div>
	<div class="fe-box">
		<img src="f4.png">
		<h6>promotion</h6>
	</div>
	<div class="fe-box">
		<img src="f5.png">
		<h6>mappy sel</h6>
	</div>
</section>
<section id="product" class="section-p1">
	<h2>featured product</h2>
	<p>summer collection new modern desighn</p>
	<div class="pro-container">
		<div class="pro">
			<img src="f1.jpg" alt="">
			<div class="des">
				<span>adidas</span>
				<h5>cartoon astronaut t-shirts</h5>
				<div class="star">
					<span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>

				</div>
				<h4>$78</h4>
			</div>
			<a href="#"><i class="fa fa-shopping-cart cart"></i></a>
		</div>
		<div class="pro">
			<img src="f2.jpg" alt="">
			<div class="des">
				<span>adidas</span>
				<h5>cartoon astronaut t-shirts</h5>
				<div class="star">
					<span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>

				</div>
				<h4>$78</h4>
			</div>
			<a href="#"><i class="fa fa-shopping-cart cart"></i></a>
		</div>
		<div class="pro">
			<img src="f3.jpg" alt="">
			<div class="des">
				<span>adidas</span>
				<h5>cartoon astronaut t-shirts</h5>
				<div class="star">
					<span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>

				</div>
				<h4>$78</h4>
			</div>
			<a href="#"><i class="fa fa-shopping-cart cart"></i></a>
		</div>
<div class="pro">
			<img src="f4.jpg" alt="">
			<div class="des">
				<span>adidas</span>
				<h5>cartoon astronaut t-shirts</h5>
				<div class="star">
					<span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>

				</div>
				<h4>$78</h4>
			</div>
			<a href="#"><i class="fa fa-shopping-cart cart"></i></a>
		</div>
		<div class="pro">
			<img src="f5.jpg" alt="">
			<div class="des">
				<span>adidas</span>
				<h5>cartoon astronaut t-shirts</h5>
				<div class="star">
					<span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>

				</div>
				<h4>$78</h4>
			</div>
			<a href="#"><i class="fa fa-shopping-cart cart"></i></a>
		</div>
		<div class="pro">
			<img src="f6.jpg" alt="">
			<div class="des">
				<span>adidas</span>
				<h5>cartoon astronaut t-shirts</h5>
				<div class="star">
					<span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>

				</div>
				<h4>$78</h4>
			</div>
			<a href="#"><i class="fa fa-shopping-cart cart"></i></a>
		</div>
		

	

	</div>
	
</section>
<section id="product" class="section-p1">
	<h2>New Arrival</h2>
	<p>summer collection new modern desighn</p>
	<div class="pro-container">
		<div class="pro">
			<img src="n1.jpg" alt="">
			<div class="des">
				<span>adidas</span>
				<h5>cartoon astronaut t-shirts</h5>
				<div class="star">
					<span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>

				</div>
				<h4>$78</h4>
			</div>
			<a href="#"><i class="fa fa-shopping-cart cart"></i></a>
		</div>
		<div class="pro">
			<img src="n2.jpg" alt="">
			<div class="des">
				<span>adidas</span>
				<h5>cartoon astronaut t-shirts</h5>
				<div class="star">
					<span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>

				</div>
				<h4>$78</h4>
			</div>
			<a href="#"><i class="fa fa-shopping-cart cart"></i></a>
		</div>
		<div class="pro">
			<img src="n3.jpg" alt="">
			<div class="des">
				<span>adidas</span>
				<h5>cartoon astronaut t-shirts</h5>
				<div class="star">
					<span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>

				</div>
				<h4>$78</h4>
			</div>
			<a href="#"><i class="fa fa-shopping-cart cart"></i></a>
		</div>
<div class="pro">
			<img src="n4.jpg" alt="">
			<div class="des">
				<span>adidas</span>
				<h5>cartoon astronaut t-shirts</h5>
				<div class="star">
					<span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>

				</div>
				<h4>$78</h4>
			</div>
			<a href="#"><i class="fa fa-shopping-cart cart"></i></a>
		</div>
		<div class="pro">
			<img src="f5.jpg" alt="">
			<div class="des">
				<span>adidas</span>
				<h5>cartoon astronaut t-shirts</h5>
				<div class="star">
					<span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>

				</div>
				<h4>$78</h4>
			</div>
			<a href="#"><i class="fa fa-shopping-cart cart"></i></a>
		</div>
		<div class="pro">
			<img src="n6.jpg" alt="">
			<div class="des">
				<span>adidas</span>
				<h5>cartoon astronaut t-shirts</h5>
				<div class="star">
					<span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>

				</div>
				<h4>$78</h4>
			</div>
			<a href="#"><i class="fa fa-shopping-cart cart"></i></a>
		</div>
		

	

	</div>
	
</section>
<footer class="section-p1">
	<div class="col">
		<img src="logo.png">
		<h4>contact</h4>
		<p><strong>address:</strong>sailkot daska road street no1</p>
		<p><strong>phone</strong>03157837572</p>
		<div class="follow">
			<h4>follow us</h4>
			<div class="icon">
				<a href="#" class="fa fa-facebook"></a>
				<a href="#" class="fa fa-twitter"></a>
<a href="#" class="fa fa-google"></a>
<a href="#" class="fa fa-linkedin"></a>
<a href="#" class="fa fa-youtube"></a>
<a href="#" class="fa fa-instagram"></a>
			</div>
		</div>
	</div>
	<div class="col">
		<h4>about</h4>
		<a href="#">delivery information</a>
		<a href="#">privacy policy</a>
		<a href="#">terms & condition</a>
		<a href="#">contact us</a>
	</div>
	<div class="col">
		<h4>my account</h4>
		<a href="#">sign in</a>
		<a href="#">view cart</a>
		<a href="#">my wishlist</a>
		<a href="#">track my order</a>
		<a href="#">help</a>
	</div>
	<div class="install">
		<h4>install app</h4>
		<p>from app store or google play</p>
		<div class="row">
			<img src="app.jpg">
			<img src="play.jpg">

		</div>
		<p>secured payment gateway</p>
		<img src="pay.png">
	</div>
	<div class="copyright">
		<p>@ 2021 babarsports html css ecommerce temlate</p>
	</div>
</footer>


</body>
</html>